.owl-dots {
    display: none;
}

#naslim-owl {
    text-align: center;
    background-color: #f6f6f6;
    padding-top: .5rem;
    padding-bottom: .1rem;
}

.item > h4 {
    color: #7e6f4f;
    font-size: 1.1rem;
}