.owl-dots {
    display: none;
}

#naslim-owl {
    text-align: center;
    background-color: black;
    padding-top: .5rem;
    padding-bottom: .1rem;
}

.item > h4 {
    color: #e9cf96;
    font-size: 1.1rem;
}